*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Mulish", sans-serif;
}

:root {
    --orange: #FF5400;
    --white: #ffffff;
    --dark: #131318;
  }
/* Common Style */
.d-flex-country{
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-100{
    width: 100%;
}

.btn-common{
    background-color: var(--orange);
    padding: 16px 35px;
    color: var(--white);
    border: 0;
    border-radius: 8px;
    display: inline;
    font-weight: 800;
}
.section-tittle{
    font-size: 40px;
    font-weight: 800;
    color: var(--dark);
}
body{
    padding: 0px 30px;
}

/* Haeader */
.header{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 100px;
}

.header-top{
    display: flex;
    justify-content: space-between;
}
.header-nav-logo{
    display: flex;
}
.header-nav-logo h1{
    color: var(--orange);
}
.header-nav-logo img{
    max-height: 58px;
}

/* .navbar ul{
    display: flex;
    gap: 30px;
}
.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    color:  #424247;
    font-size: 18px;
    font-weight: 400;
}
a.active, a.active:hover{
    color: var(--orange);
}
.navbar ul li a:hover{
    color: var(--orange);
} */

/* Responsive Nav */
/* Hide the menu to the side on mobile and not allow scrolling to the side */
html {
    overflow-x: hidden;
  }
  
  /* basic styles for the header component */
  nav {
    width: 100%;
    padding: 20px;
    padding-right: 0;
  }
  
  /* Make nav menu items take full width allocated */
  .navMenu ul {
    display: flex;
    justify-content: end;
    gap: 30px;
  }
  
  .navMenu li {
    list-style: none;
    font-size: 1em;
    /* text-transform:; */
    font-weight: 500;
    cursor: pointer;
  }
  
  .navMenu li a{
    color:  #424247;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  
  /* Styles for the hamburger menu icon */
  #hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
  }
  
  #hamburger div {
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
    transition: 0.5s;
  }
  
  #hamburger {
    display: none;
  }

.header-hero{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 16px;
    padding: 105px 0;
    margin-top: 60px;
}

.header-hero-tittle{
    color: var(--white);
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}

.header-hero-desc{
    color: var(--white);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    max-width: 675px;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;
}
.header-hero-form{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 16px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    max-width: 785px;
    margin: 0 auto;
    }
.header-hero-form input, .header-hero-form select {
    padding: 16px;
    border-radius: 8px;
    border: 0;
    font-size: 16px;
    color: rgba(19, 19, 24, 0.50);
    max-width:174px ;
}

.header-hero-form select {
   width: 172px;
}

.hero-btn{
    font-size: 16px;
    font-weight: 700;
   
}

.hero-btn i{
    margin-right: 5px;
}

/* Main Style */

.main{
    max-width: 1170px;
    margin: 0 auto;
}

/* our-popular-tours */
.our-popular-tours{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.our-popular-tours-desc{
    color: #131318b3;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding: 24px 0px;
}
.our-popular-tours-list{
    padding-left: 15px;
}
.our-popular-tours-list li{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.our-popular-tours-list :nth-child(2){
    margin: 15px 0px;
}
.our-popular-tours-bottom-desc{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-top: 24px;
    padding-bottom: 32px;
}

/* Choose Your Destination  */

.choose-your-destination{
    padding-top: 100px;
    padding-bottom: 100px;
}
.choose-your-destination-tittle{
    text-align: center;
}
.choose-your-destination-desc{
    text-align: center;
    max-width: 650px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin:  0 auto;
}

.row-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 24px;
}
.row-2{
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(3, 374px 474px 274px);
    column-gap: 24px;
}
.row-3{
    margin-top: 24px;
    display: grid;
    grid-template-columns: minmax(10px, 2fr) 3fr;
    column-gap: 24px;
}
.row h2{
    color: var(--white);
    font-size: 28px;
    font-weight: 800;
}


.destination-country-maldives{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/maldives.png), lightgray 50%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.destination-country-indonesia{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/indo.png), lightgray 50%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-country-srilanka{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/srilanka.png), lightgray 50%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-country-north-america{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/north.png), lightgray 50%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.destination-country-kasmir{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/mountain.png), lightgray 50%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-country-bangladesh{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/bd.png), lightgray 50%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.destination-country-bandarban{
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(../images/bandarban.png), lightgray 50%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Why Choose Us */
.why-choose-us-tittle{
    text-align: center;
}

.why-choose-us-inner{
    display: flex;
    column-gap: 24px;
}

.why-choose-box{
    padding: 32px;
    border-radius: 16px;
    max-width: 573px;
}
.why-choose-box-1{
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.why-choose-box-2{
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.why-choose-box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-choose-box-3{
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    margin-top: 24px;
}
.why-choose-tittle{
    color: var(--dark);
    font-size: 24px;
    font-weight: 800;
    padding-top: 32px;
    padding-bottom: 16px;
}
.why-choose-desc{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    
}

/* Deals Style */
.deals{
    padding: 100px 0px;
}
.deals-tittle{
    text-align: center;
}
.deals-desc{
    text-align: center;
    padding-top: 24px;
    padding-bottom: 48px;
    max-width: 650px;
    margin: 0 auto;
}
.single-deal{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* width: 100%; */
    padding: 55px;
    display: flex;
    border-radius: 16px;
}
.deal-one{
    background-image: url(../images/deal-1.png);
    justify-content: end;
}

.deal-two{
    background-image: url(../images/deal-2.png);
    justify-content: start;
    margin-top: 24px;
    margin-bottom: 24px;
}

.deal-three{
    background-image: url(../images/deal-1.png);
    justify-content: end;
    margin-bottom: 30px;
}
.deal-info{
    padding: 50px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    max-width: 580px;
}
.deal-info ul{
    display: flex;
    gap: 15px;
}
.deal-info ul li{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.deal-one-tittle{
    color: #131318;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    padding-top: 26px;
    padding-bottom: 16px;
}

.deal-one-desc{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.deal-price{
    color: var(--orange);
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 24px;
}
.see-all-p{
    text-align: center;
    margin: 0 auto;
    display: flex;
}
/* parfect-place */
.parfect-place{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
    gap: 25px;
}

.parfect-place-left{
    width: 45%;
}

.parfect-place-right{
    width: 54%;
}

.parfect-place-tittle{}
.parfect-place-desc{
    padding: 24px 0;
}
.parfect-place-list{
    padding-left: 15px;
}

.parfect-place-list li{
    font-weight: 700;
}
.parfect-place-list li:nth-child(1){
    margin-bottom: 16px;
}
.see-more-btn{
    margin-top: 30px;
}
.parfect-place-right video{
    border-radius: 16px;
}

.perfect-place-right-desc{
    color: var(--white);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; /* 150% */
    position: relative;
    top: -250px;
}


/* Start Team */
.team-section{
    padding: 100px 0px;
    text-align: center;
}
.team-items {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.team-desc{
    margin: 10px 0;
}

.team img {
    max-width: 380px;
    /* max-height: 350px; */
}

.team-m-info {
    background: #fff;
    position: relative;
    top: -68px;
    padding: 14px 20px;
    max-width: 230px;
    
}

/* Newsletter Right */
.newsletter-section{
    display: flex;
    gap: 24px;
}

.newsletter-left{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}
.newsletter-tittle{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.newsletter-form input {
    display: block;
    padding: 16px 20px;
    border: 0;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    width: calc(100% - 40px);
    margin-top: 24px;
}
.newsletter-form input[type=submit]{
    margin-top: 24px;
    width: 100%;
    background-color: var(--orange);
    color: var(--white);
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}

.newsletter-right{
    position: relative;
}
.newsletter-right img{
    
}
.newsletter-right-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-right-inner-content{
    background-color: var(--orange);
    padding: 23px 40px;
    color: var(--white);
    border-radius: 16px;
    transform: rotate(-19.60deg);
    position: absolute;
    right: 0px;
    bottom: 50px;
}

.newsletter-right-inner-content h4{
    font-size: 24px;
    text-align: center;
}
.newsletter-right-inner-content h3{
    color: var(--white);
    font-size: 32px;
    font-weight: 800;
}

.footer{
    max-width: 1170px;
    margin: 0 auto;
    padding: 110px 0px;
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--orange);
}

.footer-top h3{
    color: var(--orange);
}
.footer-top img{
    max-width: 40px;
}
.footer-desc {
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
}
.footer-social-icon{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.footer-hr{
    border: 1px solid rgba(19, 19, 24, 0.10);
    margin: 50px 0;
}
.footer-copy{
    color: var(--dark);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

/* Responsive */

@media screen and  (max-width:600px){
    body{
        padding: 0px 20px;
    }
    .header{
        padding-top: 20px;
        padding-bottom: 24px;
    }
    .header-hero{
        margin-top: 25px;
    }
    .hero-btn{
        margin-top: 16px;
    }
    .section-desc{
        font-size: 14px;
    }
    .header-hero{
        padding: 32px 24px;
    }
    .header-hero-tittle{
        font-size: 22px;
    }
    .header-hero-form, .why-choose-us-inner, .parfect-place, .newsletter-section, .team-items{
        flex-direction: column;
    }
    .header-hero-form input[type="text"], .header-hero-form select{
        max-width: 100%;
    }
    .select-one{
        
        margin: 20px 0;
    }
    .header-hero-form select {
        width: auto;
     }

     .our-popular-tours, .row-1, .row-2, .row-3{
        grid-template-columns: 1fr;
     }
     .destination-country-maldives, .destination-country-srilanka, .destination-country-north-america, .why-choose-box-1{
        margin-bottom: 20px;
     }
     .why-choose-box-3, .destination-country-bandarban{
        margin-top: 20px;
     }
     .single-deal{
        padding: 16px;
        height: 500px;
        width: auto;
     }
     .deal-one, .deal-two, .deal-three{
        align-items: end;
     }
     .deal-one-desc{
        font-size: 14px;
     }
     .deal-info{
        padding: 16px;
     }
     h3.deal-one-tittle {
        padding-top: 18px;
        padding-bottom: 8px;
        font-size: 20px;
    }
    .parfect-place-left, .parfect-place-right{
        width: auto;
    }
    .newsletter-right{
        height: auto;
        width: auto;
    }
    .newsletter-right img{
        max-width: 100%;
    }
    .newsletter-right-inner-content{
        padding: 16px 22px;
        bottom: 32px;
    }
    .newsletter-right-inner-content h3{
        font-size: 21px;
    }
    .newsletter-right-inner-content h4{
        font-size: 15px;
    }
    .section-tittle{
        font-size: 22px;
    }
    .choose-your-destination{
        padding: 50px 0;
    }
    .choose-your-destination-desc{
        padding-top: 15px;
        padding-bottom: 25px;
    }
    .deals, .footer, .newsletter-section{
        padding: 50px 0px;
    }
    .parfect-place{
        padding-top: 0;
        padding-bottom: 0;
    }
    .parfect-place-right{
        max-height: 220px;
    }
    .perfect-place-right-desc{
        top: -145px;
    }
    .footer{
        padding-top: 0px;
    }
    .newsletter-form input{
        width: 100%;
    }
    .footer-hr{
        margin: 20px 0px;
    }
    .deal-info ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }
    .deal-price{
        font-size: 16px;
       
    }
}

 
@media screen and (max-width: 768px) {
    #hamburger {
      display: block;
    }
  
    .navMenu {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.857);
      transform: translateX(100%);
      transition: 0.5s;
      padding-top: 40px;
    }
  
    .navMenu ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15px 0;
    }
  
    .navMenu li a{
      color: white;
      padding: 15px 0;
    }
  }
  
  /* Extra utility classes to be added with JS */
  
  .nav-active {
    transform: translateX(0);
  }
  
  #hamburger.toggle div {
    background-color: white;
  }
  
  .toggle #bar1 {
    transform: rotate(-45deg) translate(-5px, 4px);
  }
  
  .toggle #bar2 {
    opacity: 0;
  }
  
  .toggle #bar3 {
    transform: rotate(45deg) translate(-5px, -4px);
  }